
<ul class="nav nav-pills flex-row">
    <li class="nav-item">
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="marketplace">Market</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="marketplace/requests">Requests</NavLink>
    </li>
</ul>
